DATABASE_URL="postgresql://postgres:your_pass@localhost:6000/farm"
PORT=8000
NODE_ENV=development
CORS_ORIGIN=*
MQTT_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_SUBSCRIBE_TOPIC=smartfarm/+/telemetry
DB_USER=postgres
DB_PASSWORD=your_pass
DB_NAME=farm
DB_PORT=6000